#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

                // &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BSCP &kp BSCP
                // &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &none &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                // &none &none &none &none &none &none &none &none &none &none &none &none &none
        default_layer {
           bindings = <
                &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BSPC &kp BSPC
                &kp TAB &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp ENTER
                &none &none &none &none &none &none &none &none &none &none &none &none &none
                &kp LGUI &kp LALT      &none       &kp SPACE       &kp SPACE &none             &kp LBKT &kp RBKT
            >;
        };
    };
};